@import url("@/src/utility/bootstrap/bootstrap.min.css");
@import url("@/src/utility/bootstrap/css/font-awesome.min.css");
@import url("@/src/utility/layui/css/layui.css");
@import url("@/src/utility/swiper/swiper.min.css");

* {
  margin: 0;
  padding: 0;
}

/* @font-face {
    font-family: 'Roboto';
    src: url('@/assets/font/Roboto-Light.woff2') format('woff2'),
        url('@/assets/font/Roboto-Light.woff') format('woff'),
        url('@/assets/font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */

@font-face {
  font-family: "ManropeRegular";
  src: url("@/assets/font/ManropeRegular/Manrope-Regular.woff2") format("woff2"),
    url("@/assets/font/ManropeRegular/Manrope-Regular.woff") format("woff"),
    url("@/assets/font/ManropeRegular/Manrope-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ManropeBlack";
  src: url("@/assets/font/ManropeBlack/Manrope-Bold.woff2") format("woff2"),
    url("@/assets/font/ManropeBlack/Manrope-Bold.woff") format("woff"),
    url("@/assets/font/ManropeBlack/Manrope-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #ecf6fb;
  background: url(@/assets/images/hp_background.jpg) center center no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: #3b5974;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  font-family: "ManropeRegular", "Helvetica Neue", Helvetica, Arial, "俪 Pro",
    "LiHei Pro", "STHeiti", "Apple LiGothic Medium", "微软正体",
    "Microsoft JhengHei", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  line-height: inherit;
  font-family: "ManropeBlack", "Helvetica Neue", Helvetica, Arial, "俪 Pro",
    "LiHei Pro", "STHeiti", "Apple LiGothic Medium", "微软正体",
    "Microsoft JhengHei", sans-serif;
}

ul li {
  list-style: none;
}

b {
  font-family: "ManropeBlack", "Helvetica Neue", Helvetica, Arial, "俪 Pro",
    "LiHei Pro", "STHeiti", "Apple LiGothic Medium", "微软正体",
    "Microsoft JhengHei", sans-serif;
}

input {
  -webkit-appearance: none;
  font-family: "ManropeRegular", "Helvetica Neue", Helvetica, Arial, "俪 Pro",
    "LiHei Pro", "STHeiti", "Apple LiGothic Medium", "微软正体",
    "Microsoft JhengHei", sans-serif;
}

textarea {
  -webkit-appearance: none;
  resize: none;
}

input::-webkit-input-safebox-button {
  display: none;
}

select {
  -webkit-appearance: none;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
  text-decoration: none;
}

a {
  cursor: pointer;
  color: #2079a9;
}

a:hover {
  color: #ffb400;
}

a,
a img {
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background: none;
}

span:focus,
img:focus,
button:focus {
  outline: none;
  border: none;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

a:hover {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

select,
select:focus,
select:active {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: #3b5974 solid 1px;
}

.form-control::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #b3b3b3;
}

.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}

.but_class {
  font-size: 18px;
  padding: 10px 50px;
  background: #3b5974;
  color: #fff;
  border: none;
  border-radius: 90px;
  display: inline-block;
}

/**/
.container {
  max-width: 1400px;
  width: 96%;
  padding: 0px;
  position: relative;
}

.register_bg {
  background: url(@/assets/images/hp_background.jpg) center center no-repeat;
  background-size: cover;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
}

.top {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}

.top_width {
  display: block;
  padding: 10px 20px;
}

.top_logo {
  float: left;
}

.top_logo img {
  height: 95px;
}

.top_right {
  float: right;
  color: #2079a9;
}

.top_right_text {
  float: left;
  padding-top: 11px;
  padding-right: 5px;
}

.top_right a {
  text-decoration: underline;
  padding: 0px 5px;
}

.top_right_get {
  display: inline-block;
  padding: 0px 3px;
}

.top_right_get a {
  padding: 0px 1px;
}

.top_right_size {
  display: inline-block;
  padding-left: 3px;
  float: right;
  overflow: hidden;
}

.top_right_size button {
  background: none;
  border: none;
  line-height: 30px;
  height: 30px;
  border-bottom: #2079a9 solid 1px;
  font-weight: 600;
  float: left;
  padding: 0px 5px;
}

.top_right_size .but_24 {
  font-size: 24px;
  line-height: 34px;
}

.top_right_size .but_16 {
  font-size: 16px;
  line-height: 40px;
}

.top_right_size .but_30 {
  font-size: 30px;
}

.top_right_but {
  display: block;
  text-align: right;
  padding-top: 15px;
}

.top_right_but a {
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  float: right;
  display: inline-block;
}

.top_right_but i {
  font-size: 24px;
  padding: 0px 15px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 40px;
  background: #fff;
  margin-left: 10px;
}

.top_right_but .fa-search {
  font-size: 20px;
}

.top_right_but a:hover i {
  background: #2079a9;
  color: #fff;
}

.register_width {
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 40px 20px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.register_title {
  display: block;
  font-size: 36px;
  background: #2ca2b9;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
}

.register_txt {
  padding: 40px 50px;
}

.title_24 {
  font-size: 20px;
}

.title_20 {
  font-size: 18px;
}

.register_txt_title {
  color: #2079a9;
  padding: 15px 0px;
}

.register_txt_label {
  color: #2079a9;
  padding-bottom: 15px;
}

.register_li {
  padding: 0px 10px;
  padding-bottom: 30px;
}

.payment_radio_li {
  display: block;
  padding-bottom: 15px;
}

.register_li .register_radio_li:nth-last-child(1) {
  padding-bottom: 0px;
}

.radio_class {
  display: none;
}

.radio_class + label {
  background: url(@/assets/images/radio_icon.png) no-repeat top left;
  background-size: 26px auto;
  line-height: 1.5;
  position: relative;
  min-height: 26px;
  display: block;
  padding: 0;
  cursor: pointer;
  padding-left: 35px;
  margin: 0;
  font-weight: normal;
  text-align: left;
}

.radio_class:checked + label {
  background: url(@/assets/images/radio_y_icon.png) no-repeat top left;
  background-size: 26px auto;
}

.radio_class + label a {
  text-decoration: underline;
}

.register_centent {
  display: flex;
  margin: 0px -30px;
}

.register_50 {
  width: 50%;
  padding: 0px 30px;
  float: left;
}

.register_li_label {
  margin-bottom: 6px;
}

.form-input {
  border: 1px solid #3d9dd1;
  border-radius: 10px;
  background: #ecf6fb;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
}

.register_li_input {
  display: block;
  position: relative;
}

.register_li_error .form-input {
  border: 1px solid #ff5c5c;
  background: #ffe2e2;
}

.register_li_input i.fa {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
}

.register_li_error i.fa {
  color: #e4191c;
}

.register_input_50 {
  width: 50%;
}

.register_100 {
  width: 100%;
  padding: 0px 30px;
}

.padding_10 {
  padding-top: 15px;
}

.padding_20 {
  padding-top: 40px;
}

.layui-form-select .layui-input {
  border: 1px solid #3d9dd1;
  border-radius: 10px;
  background: #ecf6fb;
  padding: 12px 15px;
  height: auto;
  font-size: 16px;
  width: 100%;
}

.layui-form-select .layui-edge {
  border-top-color: #3d9dd1;
  border-width: 10px;
  margin-top: -4px;
}

:root .layui-form-selected .layui-edge {
  margin-top: -15px;
}

.layui-form-select dl dd.layui-this {
  background: #2ca2b9;
}

.register_Upload {
  padding: 10px 0px;
}

.layui-btn {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 20px;
  height: auto;
  background-color: #2079a9;
}

.layui-btn i {
  margin-left: 30px;
}

.register_Upload_table {
  display: block;
  padding-top: 10px;
  overflow: hidden;
  margin: -5px;
}

.register_Upload_table_li {
  display: inline-block;
  margin: 5px;
  float: left;
  position: relative;
  border: 1px solid #3d9dd1;
  border-radius: 10px;
  background: #ecf6fb;
  padding: 10px 15px;
  padding-right: 60px;
  font-size: 18px;
}

.register_Upload_table_li i {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #3d9dd1;
}

.register_Upload_table_li:nth-last-child(1) {
  margin-right: 0px;
}

.register_botton {
  display: block;
  text-align: center;
}

.register_botton_a {
  color: #2ca2b9;
  background: #fff;
  border: 2px solid #2ca2b9;
  margin: 0px 10px;
  border-radius: 36px;
  font-size: 20px;
  padding: 0px 30px;
  display: inline-block;
  height: 48px;
  line-height: 44px;
}

.register_botton_a:hover {
  color: #2ca2b9;
  background: #ecf6fb;
}

.register_botton_but {
  color: #2ca2b9;
  background: #2ca2ba;
  color: #fff;
  cursor: pointer;
  margin: 0px 10px;
  border: 2px solid #2ca2ba;
  border-radius: 36px;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 30px;
  height: 48px;
  line-height: 42px;
}

.register_botton_but:hover {
  background: #1d8398;
  border-color: #1d8398;
}

.register_botton_but:focus {
  opacity: 0.5;
  border: 2px solid #1d8398;
}

xm-select {
  border: 1px solid #3d9dd1 !important;
  border-radius: 10px !important;
  background: #ecf6fb !important;
  padding: 0px 5px !important;
  height: 46px !important;
  font-size: 16px !important;
  width: 100% !important;
}

xm-select > .xm-label .xm-label-block {
  margin-top: 6px !important;
}

xm-select > .xm-icon {
  border-top-color: #3d9dd1 !important;
  border-width: 10px !important;
  margin-top: -4px !important;
}

xm-select > .xm-icon-expand {
  margin-top: -15px !important;
}

xm-select > .xm-label.single-row {
  right: 40px !important;
}

.foot {
  background: #ecf6fb;
  padding: 30px 0px;
  display: block;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  width: 100%;
  font-family: "ManropeBlack", "Helvetica Neue", Helvetica, Arial, "俪 Pro",
    "LiHei Pro", "STHeiti", "Apple LiGothic Medium", "微软正体",
    "Microsoft JhengHei", sans-serif;
}

.foot .container {
  display: table;
}

.foot_left {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.6;
}

.foot_left img {
  float: left;
  height: 75px;
}

.foot_left span {
  float: left;
  padding-left: 10px;
}

.foot_left span b {
  padding: 0px 10px;
}

.foot a {
  color: #3b5974;
}

.foot a:hover {
  color: #2ca2b9;
}

.foot_right {
  display: table-cell;
  vertical-align: middle;
  width: 105px;
  text-align: right;
}

.login_new {
  position: absolute;
  left: 0px;
  border-radius: 0px 0px 30px 30px;
  width: 90%;
  max-width: 660px;
  padding: 0px 20px;
  z-index: 9;
  margin: 0 auto;
  display: block;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.login_new_but {
  display: block;
  text-align: center;
  padding: 10px;
}

.login_new_but span {
  cursor: pointer;
  display: inline-block;
}

.login_new_ct {
  display: block;
}

.login_new_ct_li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 15px;
}

.login_new_icon {
  position: absolute;
  left: 0px;
  top: 2px;
}

.login_new_ct_li b {
  display: block;
}

.login_new_ct_li a {
  color: #3b5974;
}

.login_new_ct_li a:hover {
  color: #2ca2b9;
}

@media (max-width: 1000px) {
  .top {
    padding-bottom: 10px;
  }

  .top_logo img {
    height: 75px;
  }

  .register_title {
    font-size: 28px;
    padding: 8px 10px;
  }

  .register_width {
    padding: 30px 20px;
  }

  .register_txt {
    padding: 30px 20px;
  }

  .register_centent {
    margin: 0px -15px;
  }

  .register_50 {
    padding: 0px 15px;
  }

  .register_input_50 {
    width: 100%;
  }

  .register_100 {
    padding: 0px 15px;
  }

  .padding_10 {
    padding-top: 15px;
  }

  .title_24 {
    font-size: 18px;
  }

  .register_li {
    padding-bottom: 20px;
  }

  .padding_20 {
    padding-top: 30px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .top_logo img {
    height: 60px;
  }

  .top_right_size {
    display: none;
  }

  .top_right_text {
    padding-right: 0px;
  }

  .top_right_text {
    padding-top: 5px;
  }

  .top_width {
    padding: 10px;
  }

  .top_right_but {
    padding-top: 10px;
  }

  .top_right_but i {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    padding: 0px 10px;
  }

  .top_right_but .fa-search {
    font-size: 18px;
  }

  .register_title {
    font-size: 24px;
  }

  .register_txt_title {
    padding: 10px 0px;
  }

  .register_txt {
    padding: 20px 10px;
  }

  .title_20 {
    font-size: 16px;
  }

  .register_li {
    padding: 0px 5px;
  }

  .radio_class + label {
    padding-left: 30px;
  }

  .radio_class + label {
    line-height: 24px;
    background: url(@/assets/images/radio_icon.png) no-repeat top 2px left;
    background-size: 22px auto;
  }

  .radio_class:checked + label {
    background: url(@/assets/images/radio_y_icon.png) no-repeat top 2px left;
    background-size: 22px auto;
  }

  .register_centent {
    display: block;
    margin: 0px -10px;
  }

  .register_50 {
    width: 100%;
    padding: 10px;
  }

  .register_txt_label {
    padding-bottom: 10px;
  }

  .padding_20 {
    padding-top: 20px;
  }

  .register_100 {
    padding: 10px;
  }

  .register_Upload_table_li {
    font-size: 14px;
    padding: 10px;
    padding-right: 35px;
  }

  .register_Upload_table_li i {
    font-size: 24px;
    right: 5px;
    margin-top: -13px;
  }

  .register_botton_a {
    font-size: 18px;
    padding: 0px 25px;
    height: 42px;
    line-height: 36px;
    margin: 0px 5px;
  }

  .register_botton_but {
    font-size: 18px;
    height: 42px;
    line-height: 24px;
    margin: 0px 5px;
    display: inline-block;
  }

  .register_botton {
    padding-top: 10px;
  }

  .register_width {
    padding-bottom: 20px;
  }

  .foot {
    font-size: 12px;
  }

  .foot .container {
    display: block;
    text-align: center;
  }

  .foot_left img {
    height: 50px;
  }

  .foot {
    padding: 20px 0px;
  }

  .foot_left {
    display: inline-block;
    margin: 0px;
    line-height: 1.4;
    margin: 0 auto;
    text-align: left;
  }

  .foot_right {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }

  .foot_right img {
    height: 25px;
  }

  .layui-btn {
    font-size: 16px;
  }
}
